<html>
   <body>
      <form action = "http://127.0.0.1:65531/story/upload_image" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <p>Grapher's Name: </p>
         <input type="text" id="gname" name="grapher_name"><br><br>
         <p>Add Description: </p>
         <input type="text" id="desc" name="description"><br><br>
         <p>Add upload type: </p>
         <input type="text" id="img" name="type"><br><br>
         <p>Enter logitude: </p>
         <input type="number" step="any" id="long" name="longitude"><br><br>
         <p>Enter Lattitude: </p>
         <input type="number" step="any" id="lati" name="lattitude"><br><br>
         <p>Add duration: </p>
         <input type="number" step="any" id="dur" name="duration"><br><br>
         <input type = "submit"/>

      </form>

   </body>
</html>